/**
 * League theme for reveal.js.
 *
 * This was the default theme pre-3.0.0.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: -moz-radial-gradient(center, circle cover, rgb(39, 43, 46) 0%, #121212 100%);
	background: -webkit-gradient(
		radial,
		center center,
		0px,
		center center,
		100%,
		color-stop(0%, rgb(39, 43, 46)),
		color-stop(100%, #121212)
	);
	background: -webkit-radial-gradient(center, circle cover, rgb(39, 43, 46) 0%, #121212 100%);
	background: -o-radial-gradient(center, circle cover, rgb(39, 43, 46) 0%, #121212 100%);
	background: -ms-radial-gradient(center, circle cover, rgb(39, 43, 46) 0%, #121212 100%);
	background: radial-gradient(center, circle cover, rgb(39, 43, 46) 0%, #121212 100%);
	background-color: #121212;
}

.reveal {
	font-family: "Raleway", sans-serif;
	font-size: 40px;
	font-weight: normal;
	color: #eee;
}

::selection {
	color: #fff;
	background: #1d52ad;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background: #1d52ad;
	text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
	line-height: 1.5;
	font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 10px 0;
	color: #ddd;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: none;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	word-wrap: break-word;
}

.reveal h1 {
	font-size: 3.77em;
}

.reveal h2 {
	font-size: 2.11em;
}

.reveal h3 {
	font-size: 1.55em;
}

.reveal h4 {
	font-size: 1em;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
	margin: 0 0;
	line-height: 1.3;
	width: 100%;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 97%;
	max-height: 97%;
}

.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 1em;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: square;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 40px;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 85%;
	margin: 20px auto;
	padding: 5px;
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 5px solid #ccc;
}

/* .reveal blockquote:before {
	content: "\201C";
	font-size: 1.5em;
	font-weight: 500;
}
.reveal blockquote:after {
	content: "\201D";
	font-size: 1.5em;
	font-weight: 500;
} */

.reveal q {
	font-style: italic;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
	font-family: monospace;
	text-transform: none;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
}

.reveal sub {
	vertical-align: sub;
}

.reveal small {
	display: inline-block;
	font-size: 0.3em;
	line-height: 1.5em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
	color: #005cff;
	text-decoration: none;
	-webkit-transition: color .15s ease;
	-moz-transition: color .15s ease;
	transition: color .15s ease;
}

.reveal a:hover {
	color: #005cff;
	text-shadow: none;
	border: none;
}

.reveal .roll span:after {
	color: #fff;
	background: #0d99a5;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
	margin: 15px 0px;
	background: transparent;
	border: 4px solid transparent;
}

.reveal section img.plain {
	border: 0;
	box-shadow: none;
}

.reveal a img {
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
}

.reveal a:hover img {
	background: rgba(255, 255, 255, 0.2);
	border-color: #005cff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
	color: #005cff;
}
/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
	background: rgba(0, 0, 0, 0.2);
	color: #005cff;
}

.reveal .progress span {
	-webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
